@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

.sign-in-form-button {
  margin-right: 10px;
}

#logo {
  max-width: 20%;
}

.menu-text {
  color: white;
}

.menu-item {
  color: white;
}

.top-bar {
  align-items: end;
}

.menu {
  align-items: end;
}

body {
  overscroll-behavior-y: none;
}

#grid {
  margin: 0px 100px;
  box-shadow: -0.3em 0.3em .4em lightgray;
}